<div class="body">
  <!-- SIDEBAR -->
  <section id="sidebar" [ngClass]="{'hide': isHidden}">
    <a routerLink="home" class="brand">
      <i class='bx bxs-heart'></i>
      <span class="text">Admin CLI</span>
    </a>
    <ul class="side-menu top">
      <li [ngClass]="{'active': isActive('/admin/home')}">
        <a routerLink="home">
          <i class='bx bxs-dashboard' ></i>
          <span class="text">Dashboard</span>
        </a>
      </li>
      <li [ngClass]="{'active': isActive('/admin/brand')}">
        <a routerLink="brand">
          <i class='bx bxs-shopping-bag-alt' ></i>
          <span class="text">Thương hiệu</span>
        </a>
      </li>
      <li [ngClass]="{'active': isActive('/admin/category')}">
        <a routerLink="category">
          <i class='bx bxs-package' ></i>
          <span class="text">Danh mục</span>
        </a>
      </li>
      <li [ngClass]="{'active': isActive('/admin/product')}">
        <a routerLink="product">
          <i class='bx bxs-t-shirt' ></i>
          <span class="text">Sản phẩm</span>
        </a>
      </li>
      <li [ngClass]="{'active': isActive('/admin/coupon')}">
        <a routerLink="coupon">
          <i class='bx bxs-coupon' ></i>
          <span class="text">Khuyến mãi</span>
        </a>
      </li>
    </ul>
    <ul class="side-menu">
      <li>
        <a routerLink="home">
          <i class='bx bxs-cog' ></i>
          <span class="text">Cài đặt</span>
        </a>
      </li>
      <li>
        <a routerLink="home" class="logout">
          <i class='bx bxs-log-out-circle' ></i>
          <span class="text">Đăng xuất</span>
        </a>
      </li>
    </ul>
  </section>
  <!-- SIDEBAR -->
  <!-- CONTENT -->
  <section id="content">
    <!-- NAVBAR -->
    <nav>
      <i class='bx bx-menu' (click)="toggleClass()" ></i>
      <form action="#">
        <div class="form-input">
          <input type="search" placeholder="Search...">
          <button type="submit" class="search-btn"><i class='bx bx-search' ></i></button>
        </div>
      </form>
      <a href="#" class="profile">
        <img src="./favicon.ico">
      </a>
    </nav>
    <!-- NAVBAR -->

    <!-- MAIN -->
    <main>
<!--      <app-home></app-home>-->
      <router-outlet></router-outlet>
    </main>
    <!-- MAIN -->
  </section>
  <!-- CONTENT -->
</div>
