
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
html {
  overflow-x: hidden;
}

li {
  list-style: none;
}
.head-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 16px;
  flex-wrap: wrap;
}
.head-title .left h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #342E37;
}
.head-title .left .breadcrumb {
  display: flex;
  align-items: center;
  grid-gap: 16px;
}
.head-title .left .breadcrumb li {
  color: #342E37;
}
.head-title .left .breadcrumb li a {
  color: #AAAAAA;
  pointer-events: none;
}
.head-title .left .breadcrumb li a.active {
  color: #3C91E6;
  pointer-events: unset;
}
.head-title .btn-download {
  height: 36px;
  padding: 0 16px;
  border-radius: 36px;
  background: #3C91E6;
  color: #F9F9F9;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
  font-weight: 500;
}

.box-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 24px;
  margin-top: 36px;
}
.box-info li {
  padding: 24px;
  background: #F9F9F9;
  border-radius: 20px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
}
.box-info li .bx {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-info li:nth-child(1) .bx {
  background: #CFE8FF;
  color: #3C91E6;
}
.box-info li:nth-child(2) .bx {
  background: #FFF2C6;
  color: #FFCE26;
}
.box-info li:nth-child(3) .bx {
  background: #FFE0D3;
  color: #FD7238;
}
.box-info li .text h3 {
  font-size: 24px;
  font-weight: 600;
  color: #342E37;
}
.box-info li .text p {
  color: #342E37;
}





.table-data {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 24px;
  margin-top: 24px;
  width: 100%;
  color: #342E37;
}
.table-data > div {
  border-radius: 20px;
  background: #F9F9F9;
  padding: 24px;
  overflow-x: auto;
}
.table-data .head {
  display: flex;
  align-items: center;
  grid-gap: 16px;
  margin-bottom: 24px;
}
.table-data .head h3 {
  margin-right: auto;
  font-size: 24px;
  font-weight: 600;
}
.table-data .head .bx {
  cursor: pointer;
}

.table-data .order {
  flex-grow: 1;
  flex-basis: 500px;
}
.table-data .order table {
  width: 100%;
  border-collapse: collapse;
}

.table-data .todo {
  flex-grow: 1;
  flex-basis: 300px;
}
.table-data .todo .todo-list {
  width: 100%;
}
.table-data .todo .todo-list li {
  width: 100%;
  margin-bottom: 16px;
  background: #eee;
  border-radius: 10px;
  padding: 14px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.table-data .todo .todo-list li .bx {
  cursor: pointer;
}
.table-data .todo .todo-list li.completed {
  border-left: 10px solid #3C91E6;
}
.table-data .todo .todo-list li.not-completed {
  border-left: 10px solid #FD7238;
}
.table-data .todo .todo-list li:last-child {
  margin-bottom: 0;
}
